
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the js app */
.app{
  display: flex;
  justify-content: center;
  .container{
    width: 1024px;
    
    .link{
      text-decoration: none;
      color: inherit;
    }

    .auth{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #b9e7e7;
    }

    .auth h1{
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    .auth form{
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;
    }

    .auth form input{
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }

    .auth form button{
      padding: 10px;
      border: none;
      background-color: teal;
      cursor: pointer;
      color: white;
    }

    .auth form p{
      font-size: 12px;
      text-align: center;
      color: red;
    }
    .auth form span{
      font-size: 12px;
      text-align: center;
    }
  }

  /* Styles for the sites navbar */
  .navbar{
    .container{
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .logo{

      }
      .logo img{
        width: 120px;
      }

      .links{
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .links h6{
        font-size: 16px;
        font-weight: 300;
      }
      .links span{
        cursor: pointer;
      }

      .write{
        background-color: #b9e7e7;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 30;
      }

      .write:hover{
        width: 48px;
        height: 48px;        
        color: teal;
        background-color: white;
        border: 1px solid teal;
      } 
    }
  }

  /* Styles for the sites footer */
  .foot{
    margin-top: 100px;
    padding: 20px;
    background-color: #b9e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
  .foot img{
    height: 50px;
  }

  /* Styles for the sites Homepage */
  .home{
    .posts{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post{
        display: flex;
        gap: 50px;

        &:nth-child(2n+1){
          flex-direction: row-reverse;
        }

        .img{
          flex: 2;
          position: relative;

          &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: #b9e7e7;
            position: absolute;
            top: 20px;
            left: -20px;
            z-index: -1;
          }
        }
        
        .img img{
          width: 100%;
          max-height: 400px;
          object-fit: cover;
        }

        .content{
          flex: 3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .content h1{
          font-size: 48px;
        }

        .content p{
          font-size: 18px;
        }

        .content button{
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          border:  1px solid teal;
          color: teal;

          &:hover{
            border: 1px solid white;
            background-color: #b9e7e7;
            color: black;
          }
        }
      }
    }
  }

  /* Styles for the sites individual pages */

  .single{
    display: flex;
    gap: 50px;

    .content{
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
      }
      .user img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      .user span{
        font-weight: bold;
      }

      .edit{
        display: flex;
        gap: 5px;
      }
      .edit img{
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

    }

    .content img{
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .content h1{
      font-size: 42px;
      color: #333;
    }
    .content p{
      text-align: justify;
      line-height: 30px;
    }

    .menu{
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .post{
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .post img{
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .post h2{
        color: #555;
      }

      .post button{
        width: max-content;
        padding: 7.5px 15px;
        border: none;
        cursor: pointer;
        background-color: white;
        border:  1px solid teal;
        color: teal;

        &:hover{
          border: 1px solid white;
          background-color: #b9e7e7;
          color: black;
        }
      }

    }
    .menu h1{
      font-size: 20px;
      color: #555;
    }
  }

  .add{
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .content{
      flex: 5;
    }

    .menu{
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

}


